{% extends 'blog/base.html' %}

{% block content %}
    <div class="container media content-section mb-2">
        <div class="row g-0">
            <div class="col-md-auto"><img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"></div>
            <div class="col ">
                <div class="media-body">
                    <div class="article-metadata">
                        <a style="text-decoration: none;" class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                        <small style="float: right;" class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    </div>

                    <h2 class="article-title" style="margin-top:8px; font-size: 1.8rem;">{{ object.title }}</h2>
                    <p class="article-content">{{ object.content }}</p>

                    <div style="float: right;">
                        {% if object.author == user %}

                            <a class="btn btn-secondary btn-sm " href="{% url 'post-update' object.id %}">Update</a>
                            <a class="btn btn-danger  btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>

                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 780px) {
            .col-md-auto {
                flex: 0 0 20%; /* Change 25% to your desired width */
                max-width: 20%;
            }
            .col {
                flex: 0 0 75%; /* Change 75% to your desired width */
                max-width: 75%;
            }
        }
    </style>
{% endblock content %}
